* {
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 1140px;
    margin: 0 auto;
}

.content {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    /* height: 2000px; */
    display: flex;
}

.center {
    width: 1140px;
    margin: 0 auto;
}